@import url(styles/fonts/index.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #f3f3f3;
	--navWhite: #ffffff;
	--hover-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

html,
body {
	min-width: calc(64px * 8 + 40px);

	background-color: var(--white);
	font-family: 'Montserrat-Light';
	font-size: 1rem;
	letter-spacing: 1px;
}

.layout {
	max-width: 1000px;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

main > *:last-child {
	margin-bottom: 20px;
}

details {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}

summary {
	text-align: center;
	cursor: pointer;
}

.settings-form {
	display: flex;
	flex-direction: column;
}

.settings-form * {
	margin: 5px;
	padding: 5px;
}

.settings-form input[type='text'] {
	font-family: 'Montserrat-Light';
	font-size: 0.8rem;
	letter-spacing: 1px;

	border: 1px solid black;
	border-radius: 4.5px;
}

.settings-form input[type='text']:focus,
.settings-form input[type='text']:active {
	outline: none;
}

.settings-form input[type='text']::placeholder {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.settings-form input[type='text']:hover::placeholder {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.settings-form input[type='text']:focus::placeholder,
.settings-form input[type='text']:active::placeholder {
	opacity: 0;
}

.settings-form input[type='checkbox'] {
	margin-left: 0;
	cursor: pointer;
}

.settings-form button {
	margin: auto;
	margin-bottom: 20px;
}

.lost-figures {
	display: flex;
	flex-flow: row;

	width: calc(64px * 8);
	height: auto;
	min-height: 100px;
	margin-top: 10px;
}

h2 {
	font-family: 'Montserrat-Medium';
	font-size: 1.2rem;
}

.flipped {
	transform: rotateX(180deg);
}
