.aboutApp {
	text-align: justify;
	font-size: 1rem;

	padding: 10px;
}

.aboutApp h1 {
	margin: 10px;
	text-align: center;
	font-size: 1.2rem;
}

.aboutApp p {
	padding-top: 10px;
}

.aboutApp ul {
	margin-left: 10px;
	list-style-type: circle;
	list-style-position: inside;
}

.aboutApp li {
	margin-top: 10px;
}

.githubLink {
	margin-top: 10px;
}
